In [1]:
import yfinance as yf
import pandas as pd
from get_all_tickers.get_tickers import get_tickers

In [2]:
tickers = get_tickers(NYSE=False, NASDAQ=True, AMEX=False)  # We need only NASDAQ
tickers = ["GOOGL"]

In [26]:

data = yf.download(tickers, interval='1m', period='5d', group_by="columns")

[*********************100%***********************]  1 of 1 completed

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1515 entries, 2021-11-09 09:30:00-05:00 to 2021-11-15 13:49:27-05:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1515 non-null   float64
 1   High       1515 non-null   float64
 2   Low        1515 non-null   float64
 3   Close      1515 non-null   float64
 4   Adj Close  1515 non-null   float64
 5   Volume     1515 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 82.9 KB

In [38]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-11-09 09:30:00-05:00,2984.659912,2996.689941,2984.659912,2993.824951,2993.824951,41416
2021-11-09 09:31:00-05:00,2991.550049,2991.550049,2984.780029,2986.350098,2986.350098,5173
2021-11-09 09:32:00-05:00,2984.110107,2987.600098,2976.989014,2976.989014,2976.989014,13151
2021-11-09 09:33:00-05:00,2976.495117,2991.800049,2975.020020,2991.800049,2991.800049,5465
2021-11-09 09:34:00-05:00,2992.449707,2992.669922,2980.000000,2980.000000,2980.000000,5319

In [37]:
from datetime import datetime, timezone
d = datetime.strptime("2021-11-09 09:30:00-05:00", "%Y-%m-%d %H:%M:%S%z")
print(d.strftime("%Y-%m-%d %H:%M:%S%z"))

2021-11-09 09:30:00-0500